.comments__container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto 0;
    max-width: 1067px;
}

@media (max-width: 880px){
    .comments__container{
        flex-direction: column;
    }
}