@import url(./__container/how-it-works__container.css);
@import url(./__image/how-it-works__image.css);
@import url(./__step/how-it-works__step.css);
@import url(./__title/how-it-works__title.css);
.how-it-works{
    max-width: 100%;
    margin: 0 auto 189px;
}

@media (max-width: 880px){
    .how-it-works{
        margin-bottom: 100px;
    }
}
