.our-tech__container{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 50px;
}

@media (max-width: 880px){
    .our-tech__container{
        flex-direction: column;
        padding: 30px 0 30px 0;
    }
}