.leadform__forms-container{
    max-width: 706px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

@media (max-width: 715px){
    .form{
        display: flex;
        flex-direction: column;
    }
}